/.vs
/src/api/Dormitory.Admin.Api/bin
/src/api/Dormitory.Admin.Api/obj
/src/api/Dormitory.Admin.Application/bin
/src/api/Dormitory.Admin.Application/obj
/src/api/Dormitory.Core.Api/bin
/src/api/Dormitory.Core.Api/obj
/src/api/Dormitory.Core.Application/bin
/src/api/Dormitory.Core.Application/obj
/src/api/Dormitory.Domain/bin
/src/api/Dormitory.Domain/obj
/src/api/Dormitory.Domain.Shared/bin
/src/api/Dormitory.Domain.Shared/obj
/src/api/Dormitory.EntityFrameworkCore/bin
/src/api/Dormitory.EntityFrameworkCore/obj
/src/api/Dormitory.Student.Api/bin
/src/api/Dormitory.Student.Api/obj
/src/api/Dormitory.Student.Application/bin
/src/api/Dormitory.Student.Application/obj
*.user





